# Puerto del servidor
PORT=3000

# MongoDB Connection String
# Connection string de MongoDB Atlas
MONGODB_URI=mongodb+srv://miru:mildred30@mirufranco.rsucbbc.mongodb.net/estetica-miru-franco?retryWrites=true&w=majority&appName=MiruFranco

# Para MongoDB local:
# MONGODB_URI=mongodb://localhost:27017/estetica-miru-franco

# JWT Secret (para autenticación) - Cambia esto en producción
JWT_SECRET=miru_secret_key_2024_change_in_production

# CORS Origin
# CORS_ORIGIN=http://localhost:3000
